/node_modules
/public/build
/public/hot
/public/storage
/storage/app/public/posts/
/storage/app/public/covers/
/storage/app/public/avatars/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Heblly document.pdf
